* {
    font-family: 'Open Sans', sans-serif;
    outline: none;
    /* scroll-behavior: smooth; */
}

html,
body {
    height: 100%;
}

#main {
    height: 100%;
    min-height: 100%;
    background-image: url('images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}


#main-section h1 {

    text-align: center;
    font-size: 4em;
    font-weight: 900;
    color: white;
}

#main-section p {
    padding-top: 20px;
    color: white;
    text-align: center;
    margin: auto;
    width: 40%;
}


nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

.sticky-top {
    position: fixed!important;
}

.menu-icon {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}

.navbar-nav {
    margin-right: 200px;
}

.nav-link {
    position: relative;
    color: white;
    font-weight: 600;
    font-size: .8em;
}

.nav-link:hover {
    color: rgb(196, 196, 196);
}

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}

.navbar-fixed-top.scrolled .nav-link {
    color: black;
}

.navbar-fixed-top.scrolled .nav-link:hover {
    color: rgb(196, 196, 196);
}

.navbar-fixed-top.scrolled .navbar-brand-dark {
    display: block !important;
}

.navbar-fixed-top.scrolled #light-logo {
    display: none !important;
}

.navbar-fixed-top.scrolled #open {
    fill: gray !important;
}



.book-button-mobile {
    background-color: #603913;
    padding: 10px 20px;
    border: none;
}

.book-button {
    background-color: #603913;
    padding: 10px 20px;
    border: none;
}

.book-button:hover {
    -webkit-box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.book-button-mobile:hover {
    -webkit-box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.book-button:active {
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
    background-color: #50300f;
    cursor: pointer;
}

.book-button-mobile:active {
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
    background-color: #50300f;
    cursor: pointer;
}

.book-span {
    color: white;
    font-size: .8em;
    font-weight: 600;
}

#close {
    display: none;
}

.navbar-brand-dark {
    display: none;
}

.ml-auto {
    margin-right: 10px;
}

.collapse.show {
    padding: 30px 0;
    text-align: center;
}

.collapsing {
    padding-top: 20px;
    text-align: center;
    opacity: 0;
}

.flex-row,
.justify-content-center,
.align-items-center {
    position: absolute;
    left: 0;
    right: 0;
    height: 70%;
    top: 10%;
}

/* mobile */
@media screen and (max-width: 991px) {
    .book-button {
        display: none;
    }

    .nav-link {
        color: black !important;
        line-height: .9;
        font-weight: 700 !important;
        font-size: 1.1em !important;
    }

    .nav-link:hover::after {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        width: 170px;
        content: '';
        border-bottom: 1.5px solid #603913;
    }

    .flex-row,
    .justify-content-center,
    .align-items-center {
        margin: auto;
        height: 70%;
    }

    #main-section h1 {
        font-size: 3em;
    }

    #main-section p {
        font-size: 1.1em;
        width: 85%;
    }
}

/* desktop */
@media screen and (min-width: 992px) {
    .book-button-mobile {
        display: none;
    }

    .flex-row,
    .justify-content-center,
    .align-items-center {
        top: 10%;
    }


}

#scroll-down {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
    filter: drop-shadow( 0px 2px 6px white);
}

#scroll-down:hover {
    transition-timing-function: ease-out;
    transition: 0.25s;
    transform: translateY(5px);
}