* {
    font-family: 'Open Sans', sans-serif;
}

/*focus style for accessibility*/
*:focus {
    outline: .5px dashed #603913 !important;
}


html,
body {
    height: 100%;
}

/* Background Image */

#main {
    height: 100%;
    min-height: 100%;
    background-image: url('images/hero.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* Navigation Bar Styling for Mobile and Desktop */

nav {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.15);
}

.sticky-top {
    position: fixed !important;
}

.ml-auto {
    margin-right: 30px;
}

.nav-link {
    position: relative;
    padding-left: 10px !important;
    padding-right: 10px !important;
    color: white;
    font-weight: 600;
    font-size: .8em;
}

.nav-link:hover {
    color: rgb(196, 196, 196);
}

.book-button-mobile {
    background-color: #603913;
    padding: 10px 20px;
    border: none;
}

.book-button {
    background-color: #603913;
    padding: 10px 20px;
    border: none;
}

.book-button:hover, .book-button-mobile:hover {
    -webkit-box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 1px 4px 7px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.book-button:active, .book-button-mobile:active {
    -webkit-box-shadow: 0px 0px 0px 0px;
    -moz-box-shadow: 0px 0px 0px 0px;
    box-shadow: 0px 0px 0px 0px;
    background-color: #50300f;
    cursor: pointer;
}

.book-span {
    color: white;
    font-size: .8em;
    font-weight: 600;
}

.navbar-brand-dark {
    display: none;
}

#close {
    display: none;
}

.collapse.show {
    padding: 30px 0;
    text-align: center;
}

.collapsing {
    padding-top: 20px;
    text-align: center;
    opacity: 0;
}

/* Navbar Behavior on Scroll */

.navbar-fixed-top.scrolled {
    background-color: #fff !important;
    transition: background-color 200ms linear;
}


.navbar-fixed-top.scrolled .nav-link {
    color: black;
}

.navbar-fixed-top.scrolled .nav-link:hover {
    color: rgb(196, 196, 196);
}

.navbar-fixed-top.scrolled .navbar-brand-dark {
    display: block !important;
}

.navbar-fixed-top.scrolled #light-logo {
    display: none !important;
}

.navbar-fixed-top.scrolled #open {
    fill: gray !important;
}

/* Main Section on front Page */

#main-section-container {

    position: absolute;
    left: 0;
    right: 0;
    height: 70%;
    top: 10%;
}

#main-section h1 {

    text-align: center;
    font-size: 4em;
    font-weight: 900;
    color: white;
}

#main-section p {
    padding-top: 20px;
    color: white;
    text-align: center;
    margin: auto;
    width: 40%;
}

/* svg icon */
#scroll-down {
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
    bottom: 20px;
    filter: drop-shadow(0px 2px 3px white);
}

#scroll-down:hover {
    transition-timing-function: ease-out;
    transition: 0.25s;
    transform: translateY(5px);
}

/* Description Section */

#description {
    padding-top: 4em;
    text-align: center;
}

#description h2 {
    font-weight: 600;
    padding-bottom: .5em;
}

#description p {
    width: 80%;
    margin: auto;
    padding-top: 1em;
}

/* Carousel */

.carousel-indicators {
    bottom: -30px!important;
}

#carouselExampleIndicators {
    width: 100%;
}

.carousel-indicators .active {
    background-color: #603913!important;
}

#carouselExampleIndicators li {
    background-color: rgba(96,57,19, 0.2);
    width: 50px!important;
}

/* Cards Section */
#card-section {
    padding: 6em 0!important;
    background-image: url('images/rooms-background-with-overlay.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#card-section .row {
    padding: 1em 0;
    justify-content: space-around!important;    
}

#card-section .col {
    padding: 0;
    flex-grow: 0!important;
}

.card {
    width: 21rem!important;
    border-radius: 0!important;
    border: none!important;
    box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.2);
}

.card:hover {
    transition: scale .1s ease-in;
    scale: 1.02;
    box-shadow: none;
}

.card-img-top {
    border-top-left-radius: 0!important;
    border-top-right-radius: 0!important;
}

.card-title {
    font-weight: 600;
}

.card-text {
    font-size: .8em;
}

.card-link {
    position: relative;
    color: #603913;
    font-size: .8em;
    text-decoration: underline;
    font-weight: 700;
}

.card-link:hover{
    color: #50300f;    
}    


.card-link-svg {
    position: absolute;
    bottom: 1.35em;
    left: 85px;
    opacity: 0;
}

.card-link:hover ~ .card-link-svg {
    transition: opacity .2s ease-in, transform .2s ease-in;
    transform: translateX(5px);
    opacity: 1;
}

/* Footer */

footer {
    padding: 2.5em 0 1.5em 0;
    background-color: #575748;
}

footer #navbar-nav-footer {
    flex-direction: row!important;
    margin: 0 auto!important;
}

footer .nav-item {
    padding: 0 10px;
}

footer p {
    padding-top: 3em;
    opacity: .5;
    color: white;
    font-size: .8em;
    margin: auto;

}

/* Media Queries for different displays */

/* mobile */
@media screen and (max-width: 991px) {


    .nav-link {
        color: black !important;
        line-height: .9;
        font-weight: 700 !important;
        font-size: 1.1em !important;
    }

    .nav-link:hover::after {
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        margin: auto;
        display: block;
        width: 170px;
        content: '';
        border-bottom: 1.5px solid #603913;
    }

    .book-button {
        display: none;
    }

    #main-section-container {
        margin: auto;
        height: 70%;
    }

    #main-section h1 {
        font-size: 3em;
    }

    #main-section p {
        font-size: 1.1em;
        width: 85%;
    }

    footer #navbar-nav-footer {
        flex-direction: column!important;
        text-align: center;
        margin: 0 auto!important;
    }

    footer #navbar-nav-footer .nav-link {
        color: white!important;
        font-size: 1em!important;

    }
}

/* tablet */ 
@media screen and (max-width: 1200px) {
    .tablet-card {
        display: none;
    }
}

/* small tablet */
@media screen and (max-width: 768px) {
    .mobile-card {
        display: none;
    }
}


/* desktop */
@media screen and (min-width: 992px) {

    #main-section-container {
        top: 5%;
    }

    .book-button-mobile {
        display: none;
    }
}